@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright:400,600,700|Open+Sans:300,400,700&subset=latin-ext');



nav{
   box-shadow: none!important; 
}
 nav ul a,
 nav .brand-logo {
   color: #666!important;
   font-weight: 200;
 }
 
 p {
   line-height: 2rem;
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 }
 
 .button-collapse {
   color: #26a69a;
 }

 .txt-title{
    font-family: 'Cormorant Upright', serif;
    color: #fff;
 }
 .txt-parrafo{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 18px;
 }
 
 .parallax-container {
   line-height: 0;
   height: auto;
 }
   .parallax-container .section {
     width: 100%;
   }
 
.text-index{
  width: 60%;
  margin: 0 auto;
}
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
   padding-top: 0 !important;
 }
 
 
 
 

 
 section .col {
     margin-bottom: 24px;
 }
 section {
     padding: 4% 0 4% 0;
 }
 section hr {
     width: 40px;
     margin-bottom: 45px;
     border: 1px solid
 }
 section h4 {
     text-align: center;
     margin-bottom: 15px;
         font-weight: 200;
 
 }
 .portfolio .portfolio-holder {
     clear: both;
     text-align: center;
 }
 
 
 .portfolio img {
     width: 100%;
     float: left;
 }

 footer.page-footer .footer-copyright{
   height:70px !important;
   padding-top:10px;
 }
 
 .padd{
   padding:1%;
 }
 
 .padde{
   padding:3%;
 }
 
 .min{
   min-height: 450px !important;
 }

 .centrar{
   text-align:center;
 }

 

 
#background-video{

    position: absolute;
    width: 100%;
    z-index: -20;
    object-fit: cover;
    height: 100%;
    background: url(Component/imgbreak/burgerchip.jpg) no-repeat;
    background-size: cover;

    
    
    }
.video-opacity{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 0.5s ease;
    background: rgba(153, 51, 153, 0.2);
}

.img-logo{
    width:50px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

}