@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright:400,600,700|Josefin+Sans:300,400,600|Open+Sans:300,400,700&subset=latin-ext');

html {
  scroll-behavior: smooth;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  color:#666666;
}

nav{
   box-shadow: none!important; 
   position:fixed;
   z-index:1000;
}
 nav ul a,
 nav .brand-logo {
   color: #666!important;
   font-weight: 200;
 }
 .sobremi{
   background-color: #f3f2f169;
 }
 .titles{
  font-family: 'Josefin Sans', sans-serif;
  color:#ba4097dd;
  font-size:30px;
  line-height: 31px;
  font-weight: 400;
  margin-bottom: 20px;
 }

 .portfolio{
  background-color: #f3f2f169;
 }
 p {
line-height: 2rem;
 font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 color:#666666;
 }
 
 .button-collapse {
   color: #26a69a;
 }

 .txt-title{
    font-family: 'Cormorant Upright', serif;
    color: #fff;
 }
 .txt-parrafo{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
 }
 
 .title-text {
  font-family: 'Josefin Sans', sans-serif;
  color:#45b29a;
  font-size:24px;
  line-height: 31px;
  font-weight: 400;
 }
 .parallax-container {
   line-height: 0;
   height: 450px!important;
 }
   .parallax-container .section {
     width: 100%;
   }
 
.text-index{
  width: 60%;
  margin: 0 auto;
}
 .color-sil{
   color:#ba4097;
 }

#background-video{

  position: absolute;
  width: 100%;
  z-index: -20;
  object-fit: cover;
  height: 100vh;
  background: url(../img/Hey-World.jpg) no-repeat;
  background-size: cover;

  
  
  }

 .titulo-about{
   font-family: 'Cormorant Upright', serif;
   color: #666666;
 } 
.video-opacity{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
  background: rgba(153, 51, 153, 0.2);
}
.icon-size{
  font-size: 25px;
}
.img-logo{
  width:50px;
}
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }

 

 
 section .col {
     margin-bottom: 24px;
 }
 section {
     padding: 4% 0 4% 0;
 }
 section hr {
     width: 40px;
     margin-bottom: 45px;
     border: 1px solid
 }
 section h4 {
     text-align: center;
     margin-bottom: 15px;
     font-weight: 200;
 
 }
 .portfolio .portfolio-holder {
     clear: both;
     text-align: center;
 }
 
 
 .portfolio img {
     width: 100%;
     float: left;
 }


  
 footer.page-footer {
  margin: 0;
  padding-top: 0 !important;
}

.iconos-about{
 padding: 20px;
}


 footer.page-footer .footer-copyright{
   height:70px !important;
   padding-top:10px;
 }
 
 .padd{
   padding:1%;
 }
 
 .padde{
   padding:3%;
 }
 
 .min{
   min-height: 620px !important;
 }

 .centrar{
   text-align:center;
 }
.btn-sil{
  background-color: #ba4097;
}
 .icon-heart{
   font-size: 10px;
   color: #ba4097;
 }

 .mouse {
	max-width:30px;
	width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
	opacity: 1;
}

.scroll-link {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}
.skill-text{
  margin-top: 60px;
}
/* Animacion iconos en habilidades */
.box-desktop{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__container {
  position: relative;
  font-size: 5vw;
  padding: 1vw;
  width: 20vw;
  padding-top: 20vw;
  border: 1 px solid black;
}
.itsall {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon .wordpress {
  color: #21759b;
  animation: face--move 4s ease-in-out infinite;
  
}
@keyframes face--move {
  0% {
    transform: translate3d(0, 0, 0) scale(0.6);
  }
28%, 100% {
    transform: translate3d(8vw, 1vw, 0) scale(0.8);
  }
}
.icon .photoshop {
  color: #1bb2e9;
  animation: twit--move 4s ease-in-out infinite;
}
@keyframes twit--move {
  0% {
    transform: translate3d(0, 0, 0) scale(0.6);
  }
  28%, 100% {
    transform: translate3d(-8vw, 1vw, 0) scale(0.8);
  }
}
.icon  .trello{
  color: #f36798;
  animation: drib--move 4s ease-in-out infinite;
}
@keyframes drib--move {
  0% {
    transform: translate3d(0, 0, 0) scale(0.6);
  }
  28%, 100% {
    transform: translate3d(8vw, -1vw, 0) scale(0.8);
  }
}
.icon .illustrator {
  color: #FAA625;
  animation: link--move 4s ease-in-out infinite;
}
@keyframes link--move {
  0% {
    transform: translate3d(0, 0, 0) scale(0.6);
  }
  28%, 100% {
    transform: translate3d(-8vw, -1vw, 0) scale(0.8);
  }
}
.computer {
  width: 18vw;
}
.social--media {
  font-size: 3vw;
  position: absolute;
  transform: scale(0.6);
  color:#45b29a;

}
.social--media.wordpress {
  left: -4vw;
  top: 3vw;
}
.social--media.photoshop{
  right: -4vw;
  top: 3vw;
}
.social--media.illustrator{
  right: -4vw;
  bottom: 6vw;
}
.social--media.trello {
  left: -4vw;
  bottom: 6vw;
}
.cart {
  width: 15vw;
}

@keyframes scroll {

	0%, 20% {
		transform: translateY(0) scaleY(0.8);
	}

	100% {
		transform: translateY(36px) scaleY(1);
		opacity: 0;
	}

}
 


@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 600px) {

  .text-index {
    width: 100%;
    margin: 0 auto;
}

.icon__container{
  width: 80vw;

}
.icon {

  align-items: normal;
  justify-content: normal;

}
.computer {
  width: 80vw;
}
.margin-sx{
  margin-top:40px;
}

.materialbox-caption {
  margin-bottom: 120px;
 height: none; 
 line-height: 20px!important;

}
}