/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #444;
   font-weight: 200;
 }
 
 p {
   line-height: 2rem;
 font-family: "Roboto", sans-serif;
 font-weight: 300;
 }
 
 .button-collapse {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 550px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
   padding-top: 0 !important;
 }
 
 
 
 
 .text--line {
   font-size: .5em;
 }
 
 svg {
   width: 60%;
   height: auto;
   font: 16em/1 Roboto;
 }
 
 .text-copy {
   fill: none;
   stroke: white;
   stroke-dasharray: 7% 28%;
   stroke-width: 3px;
   -webkit-animation: stroke-offset 8s linear;
   animation: stroke-offset 8s linear;
 }
 
 .text-copy:nth-child(1) {
   stroke: #663366;
   stroke-dashoffset: 7%;
 }
 
 .text-copy:nth-child(2) {
   stroke: #cc6699;
   stroke-dashoffset: 14%;
 }
 
 .text-copy:nth-child(3) {
   stroke: #ff99cc;
   stroke-dashoffset: 21%;
 }
 
 .text-copy:nth-child(4) {
   stroke: #cc6699;
   stroke-dashoffset: 28%;
 }
 
 .text-copy:nth-child(5) {
   stroke: #993399;
   stroke-dashoffset: 35%;
 }
 
 @-webkit-keyframes stroke-offset {
   50% {
     stroke-dashoffset: 35%;
     stroke-dasharray: 0 87.5%;
   }
 }
 
 @keyframes stroke-offset {
   50% {
     stroke-dashoffset: 35%;
     stroke-dasharray: 0 87.5%;
   }
 }
 #portfolio,
 #sobremi,
 #habilidades,
 #contacto {
     border-top: 2px dotted rgba(0, 0, 0, 0.1);
 }
 
 section .col {
     margin-bottom: 24px;
 }
 section {
     padding: 4% 0 4% 0;
 }
 section hr {
     width: 40px;
     margin-bottom: 45px;
     border: 1px solid
 }
 section h4 {
     text-align: center;
     margin-bottom: 15px;
         font-weight: 200;
 
 }
 .portfolio .portfolio-holder {
     clear: both;
     text-align: center;
 }
 
 .portfolio img, .habilidades li {
     -ms-filter: "progid:DXImageTransform@mixin Microsoft@mixin Alpha(Opacity=${iefactor})";
     filter: "alpha(opacity=(${iefactor}))";
 
 }
 
 .portfolio img {
     width: 100%;
     display: inline-block;
     float: left;
 }
 
 .silcolor{
   color:#993399;
 }
 
 footer.page-footer .footer-copyright{
   height:70px !important;
   padding-top:10px;
 }
 
 .padd{
   padding:1%;
 }
 
 .padde{
   padding:3%;
 }
 
 .min{
   min-height: 450px !important;
 }
 
 .saludo{
   font-family: 'La Belle Aurore', cursive;
 }
 
 .centrar{
   text-align:center;
 }
  h5{
        font-weight: 300!important;
  }
 