@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright:400,600,700|Open+Sans:300,400,700&subset=latin-ext');

html {
  scroll-behavior: smooth;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  color:#666666;
}

nav{
   box-shadow: none!important; 
}
 nav ul a,
 nav .brand-logo {
   color: #666!important;
   font-weight: 200;
 }
 
 p {
   line-height: 2rem;
 font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 color:#666666;
 }
 
 .button-collapse {
   color: #26a69a;
 }

 .txt-title{
    font-family: 'Cormorant Upright', serif;
    color: #fff;
 }
 .txt-parrafo{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
 }
 
 .parallax-container {
   line-height: 0;
   height: 450px!important;
 }
   .parallax-container .section {
     width: 100%;
   }
 
.text-index{
  width: 60%;
  margin: 0 auto;
}
 .color-sil{
   color:#ba4097;
 }

#background-video{

  position: absolute;
  width: 100%;
  z-index: -20;
  object-fit: cover;
  height: 100vh;
  background: url(img/Hey-World.jpg) no-repeat;
  background-size: cover;

  
  
  }

 .titulo-about{
   font-family: 'Cormorant Upright', serif;
   color: #666666;
 } 
.video-opacity{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
  background: rgba(153, 51, 153, 0.2);
}

.img-logo{
  width:50px;
}
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }

 

 
 section .col {
     margin-bottom: 24px;
 }
 section {
     padding: 4% 0 4% 0;
 }
 section hr {
     width: 40px;
     margin-bottom: 45px;
     border: 1px solid
 }
 section h4 {
     text-align: center;
     margin-bottom: 15px;
     font-weight: 200;
 
 }
 .portfolio .portfolio-holder {
     clear: both;
     text-align: center;
 }
 
 
 .portfolio img {
     width: 100%;
     float: left;
 }


  
 footer.page-footer {
  margin: 0;
  padding-top: 0 !important;
}



 footer.page-footer .footer-copyright{
   height:70px !important;
   padding-top:10px;
 }
 
 .padd{
   padding:1%;
 }
 
 .padde{
   padding:3%;
 }
 
 .min{
   min-height: 580px !important;
 }

 .centrar{
   text-align:center;
 }
.btn-sil{
  background-color: #ba4097;
}
 .icon-heart{
   font-size: 10px;
   color: #ba4097;
 }

 .mouse {
	max-width:30px;
	width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
	opacity: 1;
}

.scroll-link {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes scroll {

	0%, 20% {
		transform: translateY(0) scaleY(1);
	}

	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0;
	}

}
 


@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 600px) {

  .text-index {
    width: 100%;
    margin: 0 auto;
}

  #background-video {
    height: auto;
  }
}